<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img style="width:100px;height:100px" src="https://www.w3schools.com/howto/img_avatar2.png" id="icon"
        alt="User Icon" />
    </div>
    <!-- Existing login-->
    <div id="formHeader">
      <a class="underlineHover" routerLink="/files/dashboard" routerLinkActive="active">Login as Guest</a>
    </div>
    <!-- Login Form -->
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
        <input type="email" placeholder="Email" formControlName="email" [(ngModel)]="emailval">
      </p>

      <div *ngIf="isSubmitted && formControls.email.errors" class="help-block text-danger">
        <div *ngIf="formControls.email.errors.required">*Email is required</div>
      </div>

      <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <input type="password" placeholder="Password" formControlName="password" [(ngModel)]="passwordVal">
      </p>

      <div *ngIf="isSubmitted && formControls.password.errors" class="help-block text-danger">
        <div *ngIf="formControls.password.errors.required">*Password is required</div>
      </div>

      <p>
      <input type="submit" class="fadeIn fourth" value="Log In">
      </p>

      <p>{{emailval}}</p>
      <p>{{passwordVal}}</p>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a> |
      <a class="underlineHover" routerLink="/files/registration" routerLinkActive="active">New User? Register
        here.!!</a>
    </div>

  </div>
</div>