    <div *ngIf="employee" class="panel panel-primary" (click)="handleClick()">
        <div class="panel-heading">
            <h3 class="panel-title">{{employee.name}}</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                Gender
                </div>
                <div class="col-xs-6">
                :  {{employee.gender}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                Email
                </div>
                <div class="col-xs-6">
                :  {{employee.email}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                IsActive
                </div>
                <div class="col-xs-6">
                :  {{employee.isActive}}
                </div>
            </div>
        </div>
    </div>